.form-observations {
  & .ql-container.ql-snow {
    border: 1px solid theme("colors.darkBorda");
    border-radius: 8px;
    background-color: theme("colors.darkSurface");
  }

  & .ql-toolbar.ql-snow {
    border: 1px solid theme("colors.darkModal");
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid theme("colors.secondary");
    background-color: theme("colors.darkModal");
  }

  & .ant-form-item-control-input {
    background-color: theme("colors.darkSurface");
    border: none;
    border-radius: 5px;
  }

  & .ql-stroke {
    stroke: theme("colors.d_tx_primary") !important;
  }

  & .ql-editor {
    min-height: 120px;
    color: theme("colors.darkTexto") !important;
    font-size: 16px;
    line-height: 1.5;
  }

  & .ql-editor.ql-blank::before {
    color: theme("colors.darkTextoDescricao") !important;
    font-style: italic;
  }

  & .ql-snow.ql-toolbar button {
    transform: scale(1.3);
    transition: all 0.2s ease;
  }

  & .ql-snow.ql-toolbar button.ql-active .ql-stroke {
    stroke: theme("colors.d_primary") !important;
  }

  & .ql-snow.ql-toolbar button:hover .ql-stroke {
    stroke: theme("colors.d_secondary") !important;
  }
}
