.modal-feedback {
    height: 550px !important;
    width: 570px !important;
    padding: 40px 75px;

    div {
        width: 424px;

        h3 {
            margin-top: 13px;
            font-size: 24px !important;
        }

        h4 {
            font-size: 24px !important;
            font-weight: 700;
        }

        h5 {
            margin-top: 16px;
            font-size: 14px !important;
            font-weight: 700;
        }

        ul {
            margin-top: 13px;

            li {
                margin-bottom: 16px;
                font-size: 12px !important;
            }
        }

        textarea {
            height: 90px !important;
            width: 422px;
        }

        button {
            margin-top: 5px !important;
        }
    }
}