.page-title-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.page-title-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease;
}
.page-title-exit {
  opacity: 1;
  transform: translateY(0);
}
.page-title-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 300ms ease;
}
